APP_NAME=HRMS-BE
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
API_V1_PREFIX=/api/v1
LOG_LEVEL=INFO

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=hrms_lite

CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173